/**********SITE VR CREE PAR EKLEIPSI MEDIAS**********/
/**********JONATHAN JOLY*****************************/
/**********https://ekleipsi-medias.fr****************/
/**********contact@ekleipsi-medias.fr****************/


/**********général**********/
* {
    margin: 0;
    padding: 0;
}
body { 
    box-sizing: border-box;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1 { 
    margin: 1em auto;
}
h2 {
    margin: 1em auto 2em auto;
}
p {
    text-align: justify;
    width: 80%;
    font-size:1.4rem;
    margin: auto;
}
img { 
    box-shadow: 0px 0px 10px 5px black;
    border-radius: 10px;
}
/**********page index**********/
.logo {
    margin-top: 1em;
    width: 401px;
    height: 164px;
    margin: 1em auto;
}
.content {
    width: 100%;
    background-image: url('assets/img/background-html.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
}

.aside{
    background-color: rgba(255,255,255,0.5);
    width: 80%;
    margin: 2rem auto;
    padding: 30px;
    border-radius: 15px;;
    
}
#gifs-screen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#cursor {
    width: 710px;
    height: 350px;
}
#lasers{
    height: 350px !important;
}
.lancement {
    width: 300px;
    height: 75px;
    background-color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    line-height:75px;
    text-decoration: none;
    color:black;
    margin:3em auto;    
}
.lancement:hover {
    background-color: aqua;
    box-shadow: 0px 0px 20px aqua;
}

.footer {
    height: 75px;
    background-color:aqua;
}
.footer span { line-height: 75px; }
/**********PAGE DES MENTIONS LEGALES**********/
.mentions {
    padding: 20px 100px;
}
/*SUR SMARTPHONE ET TABLETTE*/
@media all and (min-width: 320px) and (max-width: 1600px) {
    #gifs-screen{
        flex-direction: column;
    }
}

