* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

p{
    font-size:1.8rem
}
.content {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.content img {
    width: 401px;
    height:164 px;
    margin: auto;
}

.content button {
    width: 150px;
}

.content h2, .content a {
    color:#4e8cb9;
    text-decoration: none;

}
.content h2 {
    text-align: left;
    margin-top: 3em;
    margin-bottom: 1em;
}

.mentions {
    padding: 20px 100px;
}

.mentions p {
    text-align: justify;
}

#scene {
    display: none;
}

